body {
    background: linear-gradient(270deg, #a7f053, #4dcbe8, #eaa28d);
    background-size: 600% 600%;
    animation: Background 30s ease infinite;
    /*overflow:hidden;*/
}

html, body {
    height: 100% !important;
}

@keyframes Background {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron {
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.3) !important;
    margin-top: 10% !important;
    height: 30% !important;
    width: 70% !important;
}

.loginContainer {
    background-color: rgba(255,255,255,0.4);
    border-radius: 10px;
    margin-top: 10%;
    margin-left: 25%;
    width: 40% !important;
    padding:2%;
}

.loginForm {
    border: 2px solid black !important;
    margin-left: 50%;
}
@keyframes BackgroundNav {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

.form-group {
    position: relative !important;
    margin-bottom: 1.5rem !important;
}

.form-control-placeholder {
    position: absolute !important;
    top: 0 !important;
    padding: 7px 0 0 13px !important;
    transition: all 200ms !important;
    opacity: 0.5 !important;
}

.branding>p{
    margin-top:2%;
}

.btn-block{
    width:65% !important;
}

.page{
    height: 100% !important;
    width: 100% !important;
}

.fill {
    min-height: 100%;
    height: 100%;
}
#parent {
    height:100%;
    width:100%;
    position:absolute;
}

.child {
    height: 100% !important;
    border: 2px solid white;
}