@{
    ViewBag.Title = "NKDB";
}

<div id="parent" style="background-image:url(../../Content/Images/imageedit_1_7229943960.jpg);background-repeat: no-repeat;background-size: cover;">
    <div class="row">
        <span class="col-md-2" ></span>
        <span class="col-md-2" ></span>
        <span class="col-md-2" ></span>
        <span class="col-md-2" ></span>
        <span class="col-md-2" style="float:right;">
            <button id="login" class="btn btn-success btn-lg">@Html.ActionLink("Login", "Login", "Login", new object { }, new { @class = "buttonAttr" })</button>
            <button id="register" class="btn btn-info btn-lg">@Html.ActionLink("Register", "Register", "Register", new object { }, new { @class = "buttonAttr" })</button>
        </span>
    </div>
</div>


<script type="text/javascript">
    $(function () {
        $("#login").on("click", function () {
            
            $('html,body').animate({
                scrollTop: $("#login").scrollTop()
            }, 'slow');
        });


    });
</script>
