
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="branding">
    <p>Login</p>
</div>

<div class="loginContainer container" style="">
    <div class="row">
        <div class="col">
        </div>
        <div class="col">
            <form  style="margin-left:25%;margin-top: 5%;">
                <div class="form-group">
                    <label class="form-control-placeholder" for="email">Email address</label>
                    <input type="email" id="email" class="form-control" />
                </div>

                <div class="form-group">
                    <label class="form-control-placeholder" for="password">Password</label>
                    <input type="password" id="password" class="form-control" required />
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-sm btn-block">LOGIN</button>
                </div>
            </form>
        </div>
        <div class="col">
        </div>
        
    </div>
    
</div>



